* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

button {
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  color: #fff; }

ul {
  padding: 0px;
  list-style: none; }

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px; }
  @media (min-width: 1280px) {
    a {
      font-size: 25px; } }

.container {
  margin: 0 auto;
  width: 1140px; }
  @media (min-width: 1280px) {
    .container {
      width: 1140px; } }
  @media (min-width: 768px) and (max-width: 1279px) {
    .container {
      width: 768px; } }
  @media (min-width: 768px) and (max-width: 785px) {
    .container {
      width: 100%; } }
  @media (max-width: 767px) {
    .container {
      width: 100%; } }
  .container_header {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }

.overlay {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5); }

.header {
  background: url("../images/header-bg.jpg") no-repeat top center;
  background-size: cover;
  min-height: 100%;
  display: flex;
  flex-direction: column; }
  .header__nav {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 767px) {
      .header__nav {
        padding: 10px 10px 0px 10px; } }
    @media (max-width: 500px) {
      .header__nav {
        padding-top: 20px; } }
  .header__button {
    background: transparent; }
    .header__button span {
      font-size: 40px;
      color: #000;
      transition: color 0.2s ease; }
      @media (max-width: 767px) {
        .header__button span {
          font-size: 30px; } }
      @media (max-width: 500px) {
        .header__button span {
          font-size: 30px; } }
    .header__button:hover span {
      color: #fff; }
  .header__content {
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center; }
    @media (min-width: 1280px) {
      .header__content {
        padding: 50px 0px; } }
    .header__content h1 small {
      font-weight: 100;
      font-size: 50px; }
      @media (max-width: 767px) {
        .header__content h1 small {
          font-size: 30px; } }
      @media (max-width: 500px) {
        .header__content h1 small {
          font-size: 25px; } }
      @media (min-width: 768px) and (max-width: 1279px) {
        .header__content h1 small {
          font-size: 40px; } }
    .header__content h1 strong {
      font-size: 80px; }
      @media (max-width: 767px) {
        .header__content h1 strong {
          font-size: 60px; } }
      @media (max-width: 500px) {
        .header__content h1 strong {
          font-size: 40px; } }
      @media (min-width: 768px) and (max-width: 1279px) {
        .header__content h1 strong {
          font-size: 65px; } }
    .header__content p {
      font-size: 25px;
      width: 70%;
      padding-top: 50px; }
      @media (max-width: 767px) {
        .header__content p {
          font-size: 19px;
          width: 80%;
          padding-top: 10px; } }
      @media (max-width: 500px) {
        .header__content p {
          width: 80%;
          font-size: 15px;
          padding-top: 10px; } }
      @media (min-width: 768px) and (max-width: 1279px) {
        .header__content p {
          font-size: 20px;
          padding-top: 40px; } }
  .header__buttons {
    margin-top: 50px; }
    @media (max-width: 767px) {
      .header__buttons {
        margin-top: 10px; } }
    @media (max-width: 500px) {
      .header__buttons {
        margin-top: 20px; } }
    @media (min-width: 768px) and (max-width: 1279px) {
      .header__buttons {
        margin-top: 30px; } }

.logo img {
  width: 300px; }
  @media (max-width: 767px) {
    .logo img {
      width: 150px; } }
  @media (min-width: 768px) and (max-width: 1279px) {
    .logo img {
      width: 200px; } }

.btn {
  padding: 15px 20px;
  transition: opacity 0.2s ease;
  font-size: 20px; }
  @media (max-width: 767px) {
    .btn {
      padding: 10px 15px;
      transition: opacity 0.2s ease;
      font-size: 15px; } }
  @media (min-width: 768px) and (max-width: 1279px) {
    .btn {
      font-size: 18px;
      padding: 10px 15px; } }
  .btn_blue {
    background: #4db6b7; }
    .btn_blue:hover {
      opacity: 0.8; }
  .btn_pink {
    background: #f12055; }
    .btn_pink:hover {
      opacity: 0.8; }

.menu {
  position: fixed;
  z-index: 200;
  height: 100%;
  width: 25%;
  text-align: right;
  padding-right: 35px;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease; }
  @media (max-width: 767px) {
    .menu {
      width: 80%;
      padding-right: 25px; } }
  .menu__item {
    padding-bottom: 20px; }
    .menu__item:first-child {
      padding-top: 20px; }
  .menu_close {
    left: 0;
    transform: translateX(-100%); }
  .menu_open {
    display: block;
    left: 0;
    transform: translateX(0%); }

.advantages {
  padding: 50px 0px; }
  @media (min-width: 768px) and (max-width: 1279px) {
    .advantages {
      padding: 30px 0px; } }
  .advantages__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (min-width: 1280px) {
      .advantages__wrap {
        flex-direction: row; } }
  .advantages__item {
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 500px) {
      .advantages__item {
        padding-top: 30px; }
        .advantages__item:first-child {
          padding-top: 0px; } }
    @media (max-width: 767px) {
      .advantages__item {
        padding-top: 30px; }
        .advantages__item:first-child {
          padding-top: 0px; } }
    @media (min-width: 768px) and (max-width: 1279px) {
      .advantages__item {
        padding-top: 40px; }
        .advantages__item:first-child {
          padding-top: 0px; } }
    @media (min-width: 1280px) {
      .advantages__item {
        margin-right: 30px; }
        .advantages__item:last-child {
          margin-right: 0px; } }
    .advantages__item img {
      width: 100px; }
      @media (max-width: 500px) {
        .advantages__item img {
          width: 90px; } }
      @media (max-width: 767px) {
        .advantages__item img {
          width: 70px; } }
      @media (min-width: 768px) and (max-width: 1279px) {
        .advantages__item img {
          width: 80px; } }
    .advantages__item h5 {
      font-size: 20px; }
      @media (min-width: 768px) and (max-width: 1279px) {
        .advantages__item h5 {
          padding: 20px 0px; } }
      @media (max-width: 500px) {
        .advantages__item h5 {
          padding: 15px 0px;
          font-size: 18px; } }
    @media (max-width: 767px) {
      .advantages__item p {
        width: 60%; } }
    @media (max-width: 500px) {
      .advantages__item p {
        width: 90%;
        font-size: 15px;
        margin: 0px; } }
    @media (min-width: 768px) and (max-width: 1279px) {
      .advantages__item p {
        width: 60%;
        font-size: 15px; } }
    @media (min-width: 1280px) {
      .advantages__item p {
        width: 100%; } }

.example {
  background: url("../images/example-bg.jpg") no-repeat center center;
  background-size: cover; }
  .example__wrap {
    display: flex;
    justify-content: center; }
    @media (min-width: 1280px) {
      .example__wrap {
        justify-content: flex-end; } }
  .example__content {
    padding: 50px;
    color: #fff;
    background-color: rgba(130, 215, 240, 0.7); }
    @media (max-width: 767px) {
      .example__content {
        width: 90%;
        padding: 20px; } }
    @media (max-width: 500px) {
      .example__content {
        padding: 18px; } }
    @media (min-width: 768px) and (max-width: 1279px) {
      .example__content {
        width: 80%; } }
    @media (min-width: 1280px) {
      .example__content {
        width: 50%; } }
    .example__content h3 {
      font-size: 30px; }
      @media (max-width: 767px) {
        .example__content h3 {
          font-size: 25px; } }
      @media (max-width: 500px) {
        .example__content h3 {
          font-size: 18px; } }
    .example__content h4 {
      font-size: 18px;
      padding: 30px 0px;
      font-weight: 100; }
      @media (max-width: 767px) {
        .example__content h4 {
          padding: 20px 0px; } }
      @media (max-width: 500px) {
        .example__content h4 {
          padding: 15px 0px; } }
    .example__content p {
      margin: 0px; }
      @media (max-width: 500px) {
        .example__content p {
          font-size: 14px; } }
  .example__box-wrap {
    padding-top: 40px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 500px) {
      .example__box-wrap {
        padding-top: 30px;
        flex-direction: column;
        align-items: center; } }

.example-box {
  text-align: center;
  border: 1px solid #fff;
  width: 40%;
  padding: 30px 0px; }
  @media (max-width: 767px) {
    .example-box {
      padding: 20px 0px; } }
  @media (max-width: 500px) {
    .example-box {
      padding: 10px 0px;
      margin-bottom: 30px; }
      .example-box:last-child {
        margin-bottom: none; } }
  .example-box__header {
    display: block;
    font-size: 18px; }
    @media (max-width: 500px) {
      .example-box__header {
        font-size: 15px; } }
    @media (min-width: 768px) and (max-width: 1279px) {
      .example-box__header {
        font-size: 16px; } }
  .example-box__number {
    padding-top: 20px;
    font-size: 30px;
    display: block; }
    @media (max-width: 767px) {
      .example-box__number {
        padding-top: 20px;
        font-size: 25px;
        font-weight: 700; } }
    @media (max-width: 500px) {
      .example-box__number {
        font-size: 20px; } }
    @media (min-width: 768px) and (max-width: 1279px) {
      .example-box__number {
        font-size: 25px; } }

.article__wrap {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 1280px) {
    .article__wrap {
      flex-direction: row;
      justify-content: space-between; } }
  @media (min-width: 768px) and (max-width: 1279px) {
    .article__wrap {
      padding: 30px 0px; } }

.article__content {
  color: #333;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .article__content {
      width: 90%; } }
  @media (min-width: 768px) and (max-width: 1279px) {
    .article__content {
      width: 80%; } }
  @media (min-width: 1280px) {
    .article__content {
      width: 60%;
      margin-right: 30px; } }
  .article__content h2 {
    font-size: 35px;
    padding-bottom: 20px; }
    @media (max-width: 767px) {
      .article__content h2 {
        font-size: 30px; } }
    @media (max-width: 500px) {
      .article__content h2 {
        font-size: 25px; } }
    @media (min-width: 768px) and (max-width: 1279px) {
      .article__content h2 {
        font-size: 24px; } }
  @media (max-width: 767px) {
    .article__content p {
      text-align: justify; } }
  @media (max-width: 500px) {
    .article__content p {
      font-size: 15px;
      text-align: justify; } }
  .article__content button {
    margin: 0 auto;
    display: flex;
    align-items: center; }
    @media (max-width: 767px) {
      .article__content button {
        margin-top: 30px; } }
    @media (max-width: 500px) {
      .article__content button {
        margin-top: 20px; } }
    @media (min-width: 1280px) {
      .article__content button {
        margin: 0px; } }
  .article__content .btn::after {
    content: "\27A4";
    display: inline-block;
    font-size: 25px;
    margin-left: 10px; }
    @media (min-width: 768px) and (max-width: 1279px) {
      .article__content .btn::after {
        font-size: 20px; } }

.article__img {
  margin: 0 auto; }
  @media (min-width: 1280px) {
    .article__img {
      width: 40%; } }
  @media (min-width: 768px) and (max-width: 1279px) {
    .article__img {
      padding-top: 30px;
      width: 80%; } }
  @media (max-width: 767px) {
    .article__img {
      width: 90%;
      padding-top: 30px; } }
  .article__img img {
    width: 100%; }
