.advantages-item {
  text-align: center;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include min-mobile {
    padding-top: 30px;
    &:first-child {
      padding-top: 0px;
    }
  }

  @include mobile {
    padding-top: 30px;
    &:first-child {
      padding-top: 0px;
    }
  }
  @include tablet {
    padding-top: 40px;

    &:first-child {
      padding-top: 0px;
    }
  }
  @include desktop {
    margin-right: 30px;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__img {
    width: 100px;
    @include min-mobile {
      width: 90px;
    }
    @include mobile {
      width: 70px;
    }
    @include tablet {
      width: 80px;
    }
  }
  &__title{
    font-size: 20px;

    @include tablet {
      padding: 20px 0px;
    }
    @include min-mobile {
      padding: 15px 0px;
      font-size: 18px;
    }
  }
  &__description{
    @include mobile {
      width: 60%;
    }
    @include min-mobile {
      width: 90%;
      font-size: 15px;
      margin: 0px;
    }
    @include tablet {
      width: 60%;
      font-size: 15px;
    }
    @include desktop {
      width: 100%;
    }
  }
}