.advantages {
  padding: 50px 0px;

  @include tablet {
    padding: 30px 0px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include desktop {
      flex-direction: row;
    }
  }
}