.article {
  &__wrap {
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }
    @include tablet {
      padding: 30px 0px;
    }
  }
  &__content {
    color: #333;
    margin: 0 auto;

    @include mobile {
      width: 90%;
    }
    @include tablet {
      width: 80%;
    }
    @include desktop {
      width: 60%;
      margin-right: 30px;
    }
  }

  &__title {
    font-size: 35px;
    padding-bottom: 20px;

    @include mobile {
      font-size: 30px;
    }
    @include min-mobile {
      font-size: 25px;
    }
    @include tablet {
      font-size: 24px;
    }
  }
  &__description {
    @include mobile {
      text-align: justify;
    }
    @include min-mobile {
      font-size: 15px;
      text-align: justify;
    }
  }
  &__more-button {
    margin: 0 auto;
    display: flex;
    align-items: center;

    @include mobile {
      margin-top: 30px;
    }

    @include min-mobile {
      margin-top: 20px;
    }
    @include desktop {
      margin: 0px;
    }

    .btn::after {
      content: "\27A4";
      display: inline-block;
      font-size: 25px;
      margin-left: 10px;

      @include tablet {
        font-size: 20px;
      }
    }
  }

  &__img {
    margin: 0 auto;
    @include desktop {
      width: 40%;
    }

    @include tablet {
      padding-top: 30px;
      width: 80%;
    }

    @include mobile {
      width: 90%;
      padding-top: 30px;
    }
    img {
      width: 100%;
    }
  }
}