* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: 100%;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}
button {
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  color: #fff;
}
ul {
  padding: 0px;
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;

  @include desktop {
    font-size: 25px;
  }
}