.btn {
  padding: 15px 20px;
  transition: opacity 0.2s ease;
  font-size: 20px;

  @include mobile {
    padding: 10px 15px;
    transition: opacity 0.2s ease;
    font-size: 15px;
  }
  @include tablet {
    font-size: 18px;
    padding: 10px 15px;
  }

  &_blue {
    background: #4db6b7;

    &:hover {
      opacity: 0.8;
    }
  }
  &_pink {
    background: #f12055;

    &:hover {
      opacity: 0.8;
    }
  }
}