.example-box {
  text-align: center;
  border: 1px solid #fff;
  width: 40%;
  padding: 30px 0px;

  @include mobile {
    padding: 20px 0px;
  }
  @include min-mobile {
    padding: 10px 0px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__header {
    display: block;
    font-size: 18px;

    @include min-mobile {
      font-size: 15px;
    }
    @include tablet {
      font-size: 16px;
    }
  }
  &__number {
    padding-top: 20px;
    font-size: 30px;
    display: block;
    @include mobile {
      padding-top: 20px;
      font-size: 25px;
      font-weight: 700;
    }
    @include min-mobile {
      font-size: 20px;
    }
    @include tablet {
      font-size: 25px;
    }
  }
}