.example {
  background: url('../images/example-bg.jpg') no-repeat center center;
  background-size: cover;

  &__wrap {
    display: flex;
    justify-content: center;

    @include desktop {
      justify-content: flex-end;
    }
  }
  &__content {
    padding: 50px;
    color: #fff;
    background-color: rgba(130, 215, 240, 0.7);

    @include mobile {
      width: 90%;
      padding: 20px;
    }
    @include min-mobile {
      padding: 18px;
    }
    @include tablet {
      width: 80%;
    }
    @include desktop {
      width: 50%;
    }
  }

  &__title {
    font-size: 30px;
    @include mobile {
      font-size: 25px;
    }
    @include min-mobile {
      font-size: 18px;
    }
  }
  &__sub-title {
    font-size: 18px;
    padding: 30px 0px;
    font-weight: 100;

    @include mobile {
      padding: 20px 0px;
    }
    @include min-mobile {
      padding: 15px 0px;
    }
  }
  &__description {
    margin: 0px;

    @include min-mobile {
      font-size: 14px;
    }
  }

  &__box-wrap {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;

    @include min-mobile {
      padding-top: 30px;
      flex-direction: column;
      align-items: center;
    }
  }
}