.header {
  background: url('../images/header-bg.jpg') no-repeat top center;
  background-size: cover;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &__container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
  }

  &__nav {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      padding: 10px 10px 0px 10px;
    }
    @include min-mobile {
      padding-top: 20px;
    }
  }

  &__button {
    background: transparent;
    font-size: 40px;
    color: #000;
    transition: color 0.2s ease;

    @include mobile {
      font-size: 30px;
    }
    @include min-mobile {
      font-size: 30px;
    }

    &:hover {
        color: #fff;
    }
  }
  &__title {
    small {
      font-weight: 100;
      font-size: 50px;

      @include mobile {
        font-size: 30px;
      }
      @include min-mobile {
        font-size: 25px;
      }
      @include tablet {
        font-size: 40px;
      }
    }
    strong {
      font-size: 80px;

      @include mobile {
        font-size: 60px;
      }
      @include min-mobile {
        font-size: 40px;
      }
      @include tablet {
        font-size: 65px;
      }
    }
  }
  &__content {
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    @include desktop {
      padding: 50px 0px;
    }
  }
  &__text {
    font-size: 25px;
    width: 70%;
    padding-top: 50px;

    @include mobile {
      font-size: 19px;
      width: 80%;
      padding-top: 10px;
    }
    @include min-mobile {
      width: 80%;
      font-size: 15px;
      padding-top: 10px;
    }
    @include tablet {
      font-size: 20px;
      padding-top: 40px;
    }
  }

  &__buttons {
     margin-top: 50px;


    @include mobile {
      margin-top: 10px;
    }
    @include min-mobile {
      margin-top: 20px;
    }
    @include tablet {
      margin-top: 30px;
    }
   }
}