.menu {
  position: fixed;
  z-index: 200;
  height: 100%;
  width: 25%;
  text-align: right;
  padding-right: 35px;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease;

  @include mobile {
    width: 80%;
    padding-right: 25px;
  }

  &__item {
     padding-bottom: 20px;

     &:first-child  {
       padding-top: 20px;
     }
   }

  &_close {
    left: 0;
    transform: translateX(-100%);
  }
  &_open {
    display: block;
    left: 0;
    transform: translateX(0%);
  }
}