@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1279px){
    @content;
  }
}

@mixin min-mobile {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}